.who_about{
  display: flex;
  gap: 50px;
  padding: 150px 0px 150px 0px;
}
.who_img{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.who_img img{
  width: 50%;
  height: 80%;
}
.who_content{
  width: 50%;
  height: auto;
}
.lol{
  width: 500px;
  height: 500px;
  border: 2px dashed black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: 10;
}
.circle{
  width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle2{
   width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle3{
   width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle4{
 width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle5{
   width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle6{
   width: 80px;
  height: 80px;
  background-color: #1a1f36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: auto;
  /* -webkit-animation: circle 10s linear infinite; */
  animation: circle 10s linear infinite;
  color: white;
}
.circle {
     transform: rotate(-22deg) translateX(240px) rotate(22deg);
  animation-delay: 1s;
}

.circle2 {
    transform: rotate(19deg) translateX(252px) rotate(342deg);
    animation-delay: 2.5s;
}

.circle3 {
  transform: rotate(156deg) translateX(240px) rotate(-157deg);
  animation-delay: 4s;
}

.circle4 {
 transform: rotate(200deg) translateX(240px) rotate(-200deg);
  animation-delay: 5.5s;
}

.circle5 {
  transform: rotate(240deg) translateX(240px) rotate(-240deg);
  animation-delay: 7.2s;
}

.circle6 {
  transform: rotate(300deg) translateX(240px) rotate(-300deg);
  animation-delay: 9.1s;
}
/* 
@keyframes circle {
  0%{
    transform: rotate(0deg)translate(240px)rotate(0deg);
  }
  100%{
     transform: rotate(360deg)translate(240px)rotate(-360deg);
  }
} */

.who_content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.who_content h6{
  font-size: 15px;
  color: rgb(144, 217, 22);
}
.who_content h3{
  font-size: 3rem;
   font-weight: 500;
}
.who_content p{
  font-size: 23px;
  width: 55%;
  line-height: 150%;
  font-weight: 400;
}

@media (max-width:1190px) {
  .lol {
    width: 450px;
    height: 450px;
  }
  .circle {
     transform: rotate(-22deg) translateX(220px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(220px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(220px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(220px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(220px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(220px) rotate(-300deg);
}
}
@media (max-width:1115px) {
  .who_about {
    gap: 10px;
    padding: 150px 0px 100px 0px;
}
.who_img img {
    width: 47%;
    height: 70%
}
.who_content{
  padding-left: 35px;
}
.circle {
     transform: rotate(-22deg) translateX(195px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(195px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(195px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(195px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(195px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(195px) rotate(-300deg);
}
 
}
@media (max-width:1075px) {
  .who_content h3 {
    font-size: 2.3rem;
  }
  .who_content p {
    font-size: 20px;
  }
  .lol {
        width: 400px;
        height: 400px;
  }
}

@media (max-width:970px) {
      .who_img img {
        width: 45%;
        height: 55%;
    }
  .lol {
        width: 350px;
        height: 350px;
  }
  .circle,.circle2,.circle3,.circle4,.circle5,.circle6 {
    width: 70px;
    height: 70px;
  }
  .circle {
     transform: rotate(-22deg) translateX(180px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(180px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(180px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(180px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(180px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(180px) rotate(-300deg);
}
}
@media (max-width:880px) {
      .who_about {
        padding: 30px 0px 100px 0px;
    }
  .lol{
  width: 500px;
  height: 500px;
  }
   .who_content {
    width: 100%;
    height: auto;
    text-align: center;
}
    .who_content p {
        width: 100%;
        padding: 0px 20px;
    }
.who_img {
    width: 100%;   
}
  .who_about{
    flex-direction: column-reverse;
    gap: 108px;
}
.who_content {
        padding-left: 0px;
    }
.circle {
     transform: rotate(-22deg) translateX(240px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(240px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(240px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(240px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(240px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(240px) rotate(-300deg);
}
  .circle,.circle2,.circle3,.circle4,.circle5,.circle6 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width:680px) {
  .who_about {
        flex-direction: column-reverse;
        gap: 140px;
    }
        .lol {
        width: 450px;
        height: 450px;
    }
    .circle {
     transform: rotate(-22deg) translateX(220px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(220px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(220px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(220px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(220px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(220px) rotate(-300deg);
}
}
@media (max-width:600px) {
  .who_img img {
    width: 47%;
    height: 70%
}
    .lol {
        width: 400px;
        height: 400px;
    }
    .circle,.circle2,.circle3,.circle4,.circle5,.circle6 {
    width: 70px;
    height: 70px;
  }
 .circle {
     transform: rotate(-22deg) translateX(195px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(195px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(195px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(195px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(195px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(195px) rotate(-300deg);
}
}
@media (max-width:480px) {
  .lol {
        width: 350px;
        height: 350px;
    }
  .circle {
     transform: rotate(-22deg) translateX(170px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(170px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(170px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(170px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(170px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(170px) rotate(-300deg);
}
}
@media (max-width:410px) {
      .lol {
        width: 250px;
        height: 250px;
    }
    .circle {
     transform: rotate(-22deg) translateX(120px) rotate(22deg);
}

.circle2 {
    transform: rotate(19deg) translateX(120px) rotate(342deg);
}

.circle3 {
  transform: rotate(156deg) translateX(120px) rotate(-157deg);
}

.circle4 {
 transform: rotate(200deg) translateX(120px) rotate(-200deg);
}

.circle5 {
  transform: rotate(240deg) translateX(120px) rotate(-240deg);
}

.circle6 {
  transform: rotate(300deg) translateX(120px) rotate(-300deg);
}
     .circle,.circle2,.circle3,.circle4,.circle5,.circle6 {
    width: 45px;
    height: 45px;
    font-size: 10px;
  }
}