.mainn{
    width: 100%;
    height: 100vh;
    background-color: #212121;
    position: fixed;
    top: 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.mainn .textss{
    position: absolute;
    top: 300px;
    font-size: 60px;
    color: #ffffff ;
    font-weight: bold;
}

.loader {
    position: relative;
    display: flex;
    gap: 0.3em;
    margin: auto;
    top: 80px;
    width: fit-content;
    height: 2em;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;
    filter: blur(45px);
    background-color: #43eb4b;
    background-image: radial-gradient(at 52% 57%, rgb(205, 224, 55) 0px, transparent 50%),
      radial-gradient(at 37% 57%, hsla(175,78%,66%,1) 0px, transparent 50%);
  }
  
  .loader__circle {
    --size__loader: 0.6em;
    width: var(--size__loader);
    height: var(--size__loader);
    border-radius: 50%;
    animation: loader__circle__jumping 2s infinite;
    background-color: #00ff0d;
  }
  
  .loader__circle:nth-child(2n) {
    animation-delay: 300ms;
    background-color: #ffffff;
  }
  
  .loader__circle:nth-child(3n) {
    animation-delay: 600ms;
  }
  
  @keyframes loader__circle__jumping {
    0%, 100% {
      transform: translateY(0px);
    }
  
    25% {
      transform: translateY(-15px) scale(0.5);
    }
  
    50% {
      transform: translateY(0px);
    }
  
    75% {
      transform: translateY(5px) scale(0.9);
    }
  }
  